<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
{{ instance.title }}
{% endblock %}
{% block body_block %}
{% if request.user.is_authenticated %}
<a href="{% url 'Post:update' slug=instance.slug %}"><h3><center>Edit Post</center></h3></a>
{% endif %}
{% if instance.image %}
<img src = "{{ instance.image.url }}" class="img-responsive" width="60%" style="display:block;margin-left: auto;margin-right: auto;margin-top: 30px;">
{% endif %}
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
    Share on Facebook
</a>
<a href="https://twitter.com/home?status={{ share_string|truncatechars:120 }}%20{{ request.build_absolute_uri }}">
    Share on Twitter
</a>
<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Share on Google+</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}/&title={{ share_string|truncatechars:120 }}&summary={{ share_string|truncatechars:120 }}&source={{ request.build_absolute_uri }}">
    Share on Linkedin
    </a>
    <p>Author: {{ instance.user }}</p>
    <h1>{{ instance.title }} <small style="font-size: 20px;">{{ instance.timestamp|timesince }} ago</small></h1>
    <h3>{{ instance.content|linebreaks }}</h3>
    <h3></h3>
{% endblock %}